header {
    background-color: #2f363c;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 30px 0;
    text-align: center;
}

/* ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
} */

ul li {
    /* display: inline-flex; */
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3.9px;
    list-style-type: none;
    /* width: 110px; */
    padding: 0 23px;
    height: 60px;
}

ul li:first-child {
    padding-left: 0;
}

ul li:last-child {
    padding-right: 0;
}

.logo {
    padding: 0;
    width: 240px;
}

section {
    padding-top: 100px;
    padding-bottom: 75px;
}

.container {
    max-width: 100%;
}
.row{
    font-family: 'Poppins', sans-serif;
}

.servicesoptions {
    list-style-type: none;
    justify-content: center;
    text-align: center;
}

div {
    display:  block;
}

.imagem-services {
    display: inline-block;
    opacity: 1;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0ms;
}
.imagem-services:hover{
    opacity: 0;
}

h2 {
    text-transform: uppercase;
}

h2 .subtitle {
    font-size: 40px;
}

h3 {
    text-transform: uppercase;
}

h3 a:hover{
    color: #ffb732;
}

.servicesdescriptions {
    font-size: 14px;
}