.mainsections .contact {
    margin-right: 0;
    margin-left: 0;
    vertical-align: middle;
}

.info-data {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}

.social-links {
    margin-bottom: 0;
}

.mainsections .contact .info-data {
    padding-right: .5rem;
    padding-left: .5rem;
}

/* .search i {
    float:right;
} */