.mainsections.contact {
    line-height: 2rem;
    padding-top: .9rem;
    padding-bottom: .9rem;
    font-size: .81rem;
}

.social-links.contact-social {
    margin-bottom: 0;
    color: #808080;
}

.social-links.contact-social i{
    margin-bottom: 0;
}

.info-data i{
    padding-right: .5rem;
}

.info-data i{
    padding-right: .5rem;
}