.mainsections.footer{
    background: url('../images/bottom.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 100%;
    height:41rem;
}

.mainsections.footer .container{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(47,54,60,.9);
}

.mainsections.footer .content{
    padding: 1.2rem 3rem 4.5rem;
}

.mainsections.footer .content h4{
    color: #fff;
    font-size: 1.87rem;
    font-weight: bold;
}
.mainsections.footer .content p{
    color:#b3b3b3;
}

.mainsections.footer .footer-list li{
    list-style-type: none;
    color:#b3b3b3;
}

.mainsections.footer .footer-list li i{
    color: #ffb732;
    padding-right: .8rem;
}

.mainsections.footer .content .footer-list .footer-email, .mainsections.footer .content .recent-posts{
    color:#fff;
}

.recent-posts-list li{
    list-style-type: none;
    display: inline-block;
}

    .recent-posts-list li img{
        float: left;
        padding-right: .8rem;
    }

.footer-division{
    padding: 10px 0;
    text-align: center;
}