.team .description {
    padding: 0rem .1rem 1rem;
}

.team-member{
    text-align: center;
    width: 262px;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
}

.team-member img {
    background-color: #f2f2f2;
}

.position {
    text-transform:uppercase;
    letter-spacing: .3em;
    font-weight: bold;
}

.role1, .role5 {
    color: #ffb732;
}

.role2, .role6 {
    color: #f77213;
}

.role3, .role7 {
    color: #19a5aa;
}

.role4, .role8 {
    color: #b91300;
}

.mainsections .content .social-links a {
    color: #bebebe;
    margin-left: 1rem;
}