.team .description {
    padding: 0rem .1rem 1rem;
}

.team-member{
    text-align: center;
}

.team-member img {
    background-color: #f2f2f2;
    
}

.team-member .position {
    text-transform:uppercase;
    font-weight: bold;
}

.team-member .role1, .team-member .role5 {
    color: #ffb732;
}

.team-member .role2, .team-member .role6 {
    color: #f77213;
}

.team-member .role3, .team-member .role7 {
    color: #19a5aa;
}

.team-member .role4, .team-member .role8 {
    color: #b91300;
}

.social-links a {
    text-decoration: #6c757d;
    margin-left: 1rem;
}