.story .content {
    padding: 0 3rem;
    margin: 0 auto;
}

.story .pretitle {
    padding-top: 40px;
}

.story-list li {
    list-style-type: none;
    font-size: 16px;
    font-weight: bolder;
    line-height: 2.5em;
}

.story-list li:before {
    content: "✓";
    color: #f77213;
    font-weight: bold;
    padding-right: -25px;
    position: relative;
    left: -20px;
}