.mainsections.strip {
    background-color: #19a5aa;
    padding-top: 1.87rem;
    padding-bottom: 1.87rem;
}

.strip-icon{
    font-size: 1.4rem;
    background-size: auto;
    line-height: 2.27em;
}

.form-strip {
    padding: 2.75rem;
    margin-bottom: 3.5rem;
}

.form-strip .fa-envelope {
    position: relative;
    color: #19a5aa;
    float: left;
}