body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}

.mainsections {
    padding-top: 5.9rem;
    padding-bottom: 3rem;
}

.mainsections .title .pretitle, .mainsections .title h2 {
    color: #2f363c;
    text-transform: uppercase;
}
.mainsections.white .title .pretitle, .mainsections.white .title h2 {
    color: white;
}

.mainsections .title .pretitle {
    font-size: 20px;
    letter-spacing: .3em;
}
.mainsections .title h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 2rem;
}

.mainsections .content h4 {
    font-size: 20px;
    margin-top: 2.4rem;
    margin-bottom: .8rem;
    text-transform: uppercase;
}
    .mainsections .content a {
        color: #2f363c;
        text-decoration: none;
        transition: color .2s ease-in-out;
    }
    .mainsections .content a:hover {
        color: #ffb732;
        transition: color .2s linear 0s;
    }
    
.mainsections .content .description {
    font-size: 14px;
    margin-bottom: 0;
    color: gray;
}

    .mainsections .content .social-links a:hover {
        color: #337ab7;
    }