.testimonials {
    background-color: #f2f2f2;
}

.testimonials-slide {
    text-align: center;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
}

.testimonials-img {
    background-color: #fff;
    border-radius: 50%;
}